﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Pagingation.ascx.cs" Inherits="MyWeb.GUI.ASC.Pagingation" %>
<div class="col-md-12">
    <div class="pull-right">
        <ul class="pagination">
            <asp:Literal Text="" runat="server" ID="ltrPagination" />
        </ul>
    </div>
</div>
