﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AdvertisesTop.ascx.cs" Inherits="MyWeb.GUI.ASC.Site.AdvertisesTop" %>
<div class="row">
    <div class="col-100">
        <a href="#">
            <img src="/Images/webfile/logo.png" />
        </a>
    </div>
</div>
