﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Advertises.ascx.cs" Inherits="MyWeb.GUI.ASC.Site.Advertises" %>
<div class="row col-100">
    <h4 class="">Quảng cáo</h4>
</div>
<div class="clearfix">
</div>
<div class="col-100 ads-lst">
    <p class="text-center">
        <a href="#">
            <img src="#" alt="" width="200px" height="200px" /></a>
        <br />
        <br />
        <a href="#">
            <img src="#" alt="" width="200px" height="200px" /></a>
        <br />
        <br />
        <a href="#">
            <img src="#" alt="" width="200px" height="200px" /></a>
        <br />
        <br />
    </p>
</div>
