﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CartInfo.ascx.cs" Inherits="MyWeb.GUI.ASC.Site.CartInfo" %>
<div class="row col-100">
    <span class="glyphicon glyphicon-shopping-cart"></span>Tổng:
                        <asp:Literal Text="" runat="server" ID="ltrCartMoney" />
    <br />
    <a href="/gio-hang" target="_blank">Xem giỏ hàng</a> <a href="/dat-hang">Thanh toán</a>
</div>
