﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SiteMap.ascx.cs" Inherits="MyWeb.GUI.ASC.Site.SiteMap" %>

<div class="container-fluid sitemap">
    <div class="container ">
        <div class="row">
            <div class="col-xs-3">
                <h5>Quy định mua hàng</h5>
                <ul>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <h5>Quy định mua hàng</h5>
                <ul>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <h5>Quy định mua hàng</h5>
                <ul>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <h5>Quy định mua hàng</h5>
                <ul>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                    <li><a href="#">Nội dung binh luận</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
