﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="VisitorCount.ascx.cs" Inherits="MyWeb.GUI.ASC.Site.VisitorOnline" %>
<div class="row col-100">
    <h4>Thống kê truy cập</h4>
</div>
<div class="clearfix"></div>
<div class="col-xs-12">
    <p class="text-left">
        Tổng: 123456
                            <br />
        Hôm nay: 1455
                            <br />
        Online: 321
    </p>
</div>
